.footer{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    
}
.footer img{
    width: 100%;
    height: 100%;
    transition: opacity .5s ease-in-out;
    opacity: .5;
  
}

  .footer img.show {
    opacity: 1;
  }